@import "@/assets/scss/variables.scss";

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
	height: 100%;
}

html,
body {
	margin: 0px;
	min-height: 100%;
	height: 100%;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	scrollbar-width: thin;
	overflow-y: auto;
	#app {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $dark;
		min-height: 100%;
		height: 100%;
		width: 100%;
		.page-container {
			min-height: 100%;
			height: 100%;
		}
	}
}

// Headings
h1 {
	font-size: $font-size * 3;
	line-height: $line-height;
}
h2 {
	font-size: $font-size * 2;
	line-height: $line-height;
}
h3 {
	font-size: $font-size * 1.5;
	line-height: $line-height;
}

//Lists
ul {
	li {
		font-size: $font-size;
		font-family: $font-family;
		font-weight: 500;
	}
}

//Titles and Headers
.headline {
	display: block;
	font-size: $font-size*1.4;
	font-family: $title-family;
}
.headline-1 {
	display: block;
	font-size: $font-size*2;
	font-family: $title-family;
}
.headline-2 {
	display: block;
	font-size: $font-size*1.8;
	font-family: $title-family;
}
.headline-3 {
	display: block;
	font-size: $font-size*1.6;
	font-family: $title-family;
}
.headline-4 {
	display: block;
	font-size: $font-size*1.4;
	font-family: $title-family;
}
.headline-5 {
	display: block;
	font-size: $font-size*1.2;
	font-family: $title-family;
}
.headline-6 {
	display: block;
	font-size: $font-size*1;
	font-family: $title-family;
}
.title {
	display: block;
	width: 100%;
	font-size: $title-size;
	font-family: $title-family;
	font-weight: 300;
}
.subtitle {
	display: block;
	width: 100%;
	font-size: $subtitle-size;
	font-family: $subtitle-family;
	font-weight: 400;
}

.header{
	display: block;
	width: 100%;
	font-size: $header-size;
	font-family: $header-family;
	font-weight: 300;

}
.subheader {
	display: block;
	width: 100%;
	font-size: $subheader-size;
	font-family: $subheader-family;
	font-weight: 400;

}




// *************************************** Icons *****************************************//


// *************************************** Vuetify *****************************************//
