// Titles and Subtitles
$title-size: 1.8em;
$title-family: 'Montserrat', sans-serif;
$subtitle-size: 1.3em;
$subtitle-family: 'Montserrat', sans-serif;

// Headers and Subheaders
$header-size: 1.25em;
$header-family: 'Open Sans', sans-serif;
$subheader-size: 1.15em;
$subheader-family: 'Open Sans', sans-serif;

//Fonts
$font-size: 1.15em;
$font-family: 'Roboto', sans-serif;
$line-height: 1.15em;

// Light Colors
$light: #eeeeee;

$primary-lighter: #76e6ff;
$primary-light: #11b7dd;

$secondary-lighter: #ffe895;
$secondary-light: #ddbf55;

$accent-lighter: #ffc19a;
$accent-light: #eb8f56;

// Dark Colors
$dark: #031a25;
$primary-darker: #003149;
$primary-dark: #007d99;

$secondary-darker: #6b5813;
$secondary-dark: #9E852C;

$accent-darker: #7c2f00;
$accent-dark: #b85212;

// Greys
$grey: #97afb9;
$grey-dark: #6c828b;
$grey-light: #cedce2;
$black: #080808;
$white: #ffffff;

// Others
$success: #00ff00;
$danger: #ff0000;
$warning: #ffff00;
$info: #008080;

//Positioning
$content-vh: calc(100vh - 155px);